%table.table.table-condensed.table-bordered
  %th{ :colspan => 2 }
    %a{ :href => @issue.html_url }=  h @issue.title
  %tr
    %th Number:
    %td= h @issue.number
  %tr
    %th Assigned To:
    %td= h(@issue.assignee ? @issue.assignee.login : 'Not Assigned')
  %tr
    %th Status:
    %td= h @issue.state
  %tr
    %th Created At:
    %td= @issue.created_at.sub(/T.*$/, '')
  %tr
    %th Updated At:
    %td= @issue.updated_at.sub(/T.*$/, '')

%p
  :markdown
    #{@issue.body}
- if @issue.comments.any?
  %hr
  %h5 Comments
  %ol.comments.unstyled
    - @issue.comments.each do |c|
      %li
        Posted by #{c.user.login}:
        .well
          :markdown
            #{c.body}
