!!!
%html
  %head
    %link{ :rel => 'stylesheet', :href => '/bootstrap/css/bootstrap.min.css' }
    %link{ :rel => 'stylesheet', :href => '/base.css' }
    %script{ :type => 'text/javascript', :src => '/jquery.js' }
    %script{ :type => 'text/javascript', :src => '/bootstrap/js/bootstrap.js' }
    %script{ :type => 'text/javascript', :src => '/jquery-ui.js' }
    %title Github Pivot 
    
  %body{ :style => 'padding-top: 60px' }
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand{ :href => '/' }
            Github Pivot:
            - if @gh.repo?
              %small= @gh.user + '/' + @gh.repo

          .nav-collapse
            %ul.nav
              - if @gh.repo?
                %li 
                  %a Pivot By:
                %li
                  %a{ :href => "#{prefix}/milestones" } Milestones
                %li
                  %a{ :href => "#{prefix}/pivot" } Labels
              - if @gh.token?
                %li
                  %a{ :href => '/logout' }= "Logged in as: " + session[:login]
           
    .container-fluid
      != yield
    .saving{ :style => 'position: fixed; bottom: 0; left: 0; background-color: #eee; padding: 15px; font-size: 2em; display: none' }
    :javascript
      $(function () { 
        $('.tip').tooltip({ placement: 'right' }); 
        $('.saving').ajaxStart(function () { $('.saving').html('Sending...').fadeIn() });
        $('.saving').ajaxSuccess(function () { $('.saving').html('Success!').delay(2000).fadeOut() });
        $('.saving').ajaxError(function () { $('.saving').html('Error!').delay(2000).fadeOut() });
      });  

      function popIssue(n) {
        var $issue = $('.issue').hide();
        $.get('#{prefix}/issues/' + n, function (data) { console.log(data); $('.issue').hide().html(data).fadeIn(); });
      }



