
.row-fluid
  .span9
    %table.table-bordered.table.table-condensed
      %thead
        %tr
          %th Number
          %th Title
          %th Labels
          %th Assignee
          %th Status
      - @milestones.each do |m|
        %thead
          %tr.divider
            %th
            %th{ :colspan => 2 }
              = m.title
              = m.due_on ? " - " + m.due_on.sub(/T.*/, '') : ''
              - if m.number > 0
                %a.tip.large{ :href => %"https://github.com/#{@gh.user}/#{@gh.repo}/issues?milestone=#{m.number}", :title => m.description }= '#' + m.number.to_s
            %th{ :colspan => 2 }
              %a.small.btn.btn-mini.btn-info{ :href => "#{prefix}/pivot?milestone=#{m.number}"} pivot
              %a.small.btn.btn-mini.btn-alert{ :onclick => '$(this).closest("thead").next().fadeToggle()'} toggle

        %tbody.sortable{ :milestone => m.number }
          - if issues = @by_milestones[m.number]
            - issues.each do |i|
              %tr{ :number => i.number, :milestone => m.number }
                %td
                  %a.tip{ :href => i.html_url, :title => i.body }
                    %strong= "##{i.number}" 
                %td= i.title 
                %td
                  - i.labels.each do |l|
                    %span.label{ :style => "background-color: ##{l.color}"}= l.name
                %td= i.assignee.login
                %td= i.state
          - else
            %tr
              %td{ :colspan => 5 }
  .span3
    %h3 Pivot by Milestones
    %span.help-inline Drag and drop issues to change their milestones.
    %hr
    %form{ :action => "#{prefix}/milestones" }
      %label Labels: comma separated list of labels to filter by
      %input{ :name => 'labels', :value => params[:labels] }
      %label Assignee
      %input{ :name => 'assignee', :value => params[:assignee] }
      %label Milestone Number
      %input{ :name => 'milestone', :value => params[:milestone] }
      %label Status
      %select{ :name => 'state' }
        %option{ :value => 'open' } Open
        %option{ :value => 'closed', :selected => (params[:state] == 'closed' ? true : nil) } Closed

      %br/
      %input.btn.btn-info{ :type => 'submit', :value => 'Filter' }
    %hr
    %a.btn.btn-info{ :href => "#{prefix}/milestones" } Pivot By Labels
    %a.btn.btn-success{ :href => "https://github.com#{prefix}/issues/new" } New Issue


:javascript
  $(function () { 
    $('.sortable').sortable({ 
      axis: 'y', 
      connectWith: '.sortable',
      stop: change   
    }) 
  })

  function change(evt, ui) {
    var $ele = $(ui.item);
    var $ul  = $ele.closest('.sortable');
    var mn  = $ul.attr('milestone');

    var issueMN = $ele.attr('milestone');
    var n = $ele.attr('number');
    if (issueMN != mn) {
      $.post('#{prefix}/update-issue', { milestone: mn, number: n }, function () { $ele.attr('milestone', mn); console.log('saved') });
    }
  }
%style
  :sass
    .sortable
      min-height: 30px
