.row-fluid
  .span9
    %table.table-bordered.table.table-condensed.table-striped
      %thead
        %tr
          %th Number
          %th Title
          %th Assignee
          %th Milestone
          %th Labels
          %th Satus
      - (@labels + [ 'others' ]).each do |l|
        %thead
          %tr
            %th{ :colspan => 6 }= l
        %tbody.sortable{ :label => l }
          - @by_labels[l].each do |i|
            %tr{ :number => i.number, :label => l }
              %td
                %a{ :href => i.html_url }
                  %strong= "##{i.number}" 
              %td= i.title 
              %td= i.assignee.login
              %td= i.milestone.title
              %td= i.labels.map { |l| l.name }.join(', ')
              %td= i.state
          - if @by_labels[l].empty?
            %tr
              %td{ :colspan => 6 }
  .span3
    %h1 Pivot by Labels
    %form{ :action => '/pivot' }
      %label Group By
      %input{ :name => 'group_by', :value => params[:group_by] }
      %label Labels
      %input{ :name => 'labels', :value => params[:labels] }
      %label Assignee
      %input{ :name => 'assignee', :value => params[:assignee] }
      %label Milestone Number
      %input{ :name => 'milestone', :value => params[:milestone] }
      %label Status
      %select{ :name => 'state' }
        %option{ :value => 'open' } Open
        %option{ :value => 'closed' } Closed

      %br/
      %input.btn.btn-info{ :type => 'submit', :value => 'Filter' }
    %hr
    %a.btn.btn-info{ :href => "/milestones" } Pivot By Milestones
    %a.btn.btn-success{ :href => "http://github.com/#{@gh.user}/#{@gh.repo}/issues/new" } New Issue


:javascript
  $(function () { 
    $('.sortable').sortable({ 
      axis: 'y', 
      connectWith: '.sortable',
      stop: change   
    }) 
  })

  function change(evt, ui) {
    var $ele = $(ui.item);
    var $ul  = $ele.closest('.sortable');
    var ulL  = $ul.attr('label');

    var l = $ele.attr('label');
    var n = $ele.attr('number');
    if (ulL != l) {
      $.post('/update-issue', { label: ulL, number: n, remove: l }, function () { $ele.attr('label', ulL); console.log('saved') });
    }
  }
%style
  :sass
    .sortable
      padding: 10px
